rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Admin user ID
    function isAdmin(userId) {
      return userId == 'Pub9DGemRlNCdV39mXXTCI8N0YN2';
    }

    match /serviceJobs/{jobId} {
      // Admin can do anything
      // Regular users can only CUD their own jobs
      allow read, write: if request.auth != null && (isAdmin(request.auth.uid) || request.auth.uid == resource.data.userId);
    }

    match /mechanics/{mechanicId} {
        // Admin can do anything
        // Regular users can only CUD their own mechanics
      allow read, write: if request.auth != null && (isAdmin(request.auth.uid) || request.auth.uid == resource.data.userId);
    }
    
    match /vehicleData/{brandId} {
        // Logged-in users can read the data for the dropdowns
        allow read: if request.auth != null;
        // Only admins can write/update the vehicle data
        allow write: if request.auth != null && isAdmin(request.auth.uid);
    }
  }
}
