rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth.uid == "Pub9DGemRlNCdV39mXXTCI8N0YN2";
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /serviceJobs/{jobId} {
      // Admin can do anything
      // Regular users can create their own jobs
      // Regular users can read, update, delete their own jobs
      allow read, write: if isAdmin() || (request.method == 'create' && isOwner(request.resource.data.userId)) || (request.method != 'create' && isOwner(resource.data.userId));
    }

    match /mechanics/{mechanicId} {
      // Admin can do anything
      // Regular users can create their own mechanics
      // Regular users can read, update, delete their own mechanics
      allow read, write: if isAdmin() || (request.method == 'create' && isOwner(request.resource.data.userId)) || (request.method != 'create' && isOwner(resource.data.userId));
    }
  }
}
